@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

*{
  box-sizing: border-box;
}


/* ************** */
/* SIDEBAR MOBILE */
/* ************** */

.sidebarMobile {
  height: 100%;  /* 100% Full-height */
  width: 250px;  /* 0 width - change this with JavaScript */
  position: fixed;  /* Stay in place */
  z-index: 1;  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #F70065;
  overflow-x: hidden;  /* Disable horizontal scroll */
  padding-top: 60px;  /* Place content 60px from the top */
  transition: 0.5s;  /* 0.5 second transition effect to slide in the sidebar */
  transform: translateX(-100%);
}

.sidebarMobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sidebarMobile a img {
  width: 1.3em;
  padding-right: 0.5em;
}

/* Botão Fechar - Pos e Estilo (top right corner) */
.sidebarMobile .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Botão pra abrir sidebar*/
.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  color: #707070;
  border: none;
}


/* *************** */
/* SIDEBAR DESKTOP */
/* *************** */

.sidebarDesktop {
  display: none;
  min-width: 250px;
  max-width: 300px;
  width: 25vw;
  height: 100%;
  background: white;
  padding-top: 60px;
  border-right: 4px solid #f70065;
  /* Problema ta aqui */
  position: fixed;
  
}

.sidebarDesktop a {
  display: none;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;  
  align-items: center;
}

.sidebarDesktop a img {
  width: 1.3em;
  padding-right: 0.5em;
}


/* *********** */
/* MEDIA QUERY */
/* *********** */

/* Esconde Sidebar Mobile em res > 992px */
@media screen and (min-width: 992px) {
  .sidebarMobile { display: none; }  
  .openbtn { display: none; }


  .sidebarDesktop { display: block; }
  .sidebarDesktop a { display: flex; }  
}


/* Main Section -- descartavel (mais ou menos) -- */
#main {
  padding: 20px;
  width: 100%;
}

#div-logo {
  margin: 20px;
  padding: 10px;
}

#mural {
  display: flex;
  height: 100vh;  
  justify-content: flex-start;
}