/* Header da página */
header {
    display: flex;
    justify-content: space-between;
}

header .options {
    display: flex;
    margin-top: 5px;
}

header .options a {
    align-items: center;
    border: none;
    background-color: #F70065;
    border-radius: 50%;
    display: flex;
    margin: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

header .options a img {
    width: 100%;
}

header .options a span {
    display: none;
}

header button.profile-icon {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin: 2%;
    outline: none;
}

header button.profile-icon img {
    border-radius: 50%;
    width: 50px;
}

/* Container dos cards */

main .feed {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

/* Header do Card */

.card {
    padding: 24px;
    background-color: #FBF1F5;
    margin: 15px 10px;
    border-radius: 8px;
}

.card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card header .user-group {
    align-items: center;
    display: flex;
}

.card header .user-group img {
    border-radius: 50%;
    width: 54px;
}

.card header .user-group .user-info {
    margin-left: 15px;
}

.card header .user-group .user-info p {
    color: #F70065;
    font-size: 16px;
    font-weight: bold;
}

.card header .user-group .user-info span {
    color: #999999;
    font-size: 13px;
    margin-top: 2px;
}

.card header .post-type {
    color: #999999;
    font-size: 13px;
    font-weight: 500;
}

/* Conteúdo do card */

.card main {
    padding: 0 0 18px 0;
}

.card main .post-text {
    font-size: 14px;
}

.card main img.post-img {
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
}

/* Footer do card */

.card footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card footer .post-info span {
    color: #999999;
    display: block;
    font-size: 14px;
}

.card footer .post-info span:first-child {
    padding-bottom: 3px;
}

.card footer .btn-group {
    display: flex;
}

.card footer .btn-group button {
    align-items: center;
    border: none;
    background-color: #F70065;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.card footer .btn-group button img {
    padding-right: 4px;
}

.card footer .btn-group .btn-comment {
    margin-right: 8px;
}


/* *********** */
/* MEDIA QUERY */
/* *********** */

@media screen and (min-width: 992px) {

      /* ________   */
     /* { NAVBAR } */
    /*            */

    /* esconde nav-mobile e sanduiche */
    .sidebarMobile { display: none; }  
    .openbtn { display: none; }

    /* mostra nav-desktop */
    .sidebarDesktop { display: block; }
    .sidebarDesktop div {display: block;}
    .sidebarDesktop div a { display: inline-block; }

    /* aplica margem */
    #main { margin-left: 300px; }

    /* muda cor da linha do logo na nav */
    #logo-nav { border-bottom: #F70065 solid 2px; }  


      /* _______________   */
     /* { HEADER POST'S } */
    /*                   */

    /* Extende altura da header e indica consideração aos elementos flutuantes */
    header {
        height: 125px;
        overflow: hidden;
    }
    /* Amplia proporções e centraliza conteúdo */
    header .options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    /* Configura estilo dos link's das opções */
    header .options a {
        padding: 12px 15px 12px 48px;
        border-radius: 8px;
        position: relative;
        margin: 0 10px;
        width: auto;
    }
    /* Configura imagem apresentada no botão da opção */
    header .options a img {
        position: absolute;
        top: 8px;
        left: 15px;
        border-radius: 0;
        width: auto;
        height: 18px;
        margin: 3px 2px 0 0;
    }
    /* Formata textos dos links */
    header .options a {
        text-decoration: none;
        color: #FFFFFF;
    }
    /* Exibe labels dos botões do topo */
    header .options a span {
        display: block;
    }
    /* Fixa posição do botão do perfil no canto superior direito e o estiliza */
    header button.profile-icon {
        background-color: #77C9D4;
        border-radius: 50%;
        border: 0px;
        width: 90px;
        height: 90px;
        margin: 20px;
        padding: 0;
        position: fixed;
        right: 0px;
        top: 0px;
        outline: none;
    }
    /* Acrescenta efeito ao hover do perfil */
    header button.profile-icon:hover {
        border-radius: 50%;
        filter: drop-shadow(0px 0px 2px #fb81b8);
    }
    /* Altera proporções da imagem do profile */
    header button.profile-icon img {
        width: 90px;
    }
    /* Formata fonte das inciais quando não houver imagem de perfil */
    header button.profile-icon span {
        color: #FFFFFF;
        font: Bold Condensed 50px/61px Roboto;
        font-size: 1.5em;
        font-weight: bold;
    }

     /* : : : : : : : : : : : : : : : : : : : : : : : : : : */
    /* : : : : : : : { AJUSTES PARA DESKTOP } : : : : : : : */

}