@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
*{
    box-sizing: border-box;
}

/* Início posts */

.feed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Roboto", sans-serif;
    justify-content: center;
}
.card {
    margin-top: 20px;
    background-color: #fbf1f5;
    width: 50vw;
}

/* Cabeçalho de cada post */

header{
    display: flex;
    justify-content: space-between;
}

.name-container{
    line-height: 2px;
    position: relative;
    right: 10px;
}

.name a{
    text-decoration: none;
    font-size: 20px;
    color: #F70065;
    font-weight: bold; 
}

.name:hover{
    text-decoration: underline;
}

.fotoENome {
    margin-block-end: 0px;
    padding-inline-start: 25px;
}

.fotoENome li{
    list-style: none;
    display: inline-block;
}

.NomeApartamento{
    position: relative;
    bottom: 30px;
}

header img {
    border-radius: 50%;
    margin: 10px;
    width: 70px;
}

.tipoPost{
    position: relative;
    top: 30%;
    right: 30px;
}

/* Textos post: Apartamento, Post, Likes e Respostas */

.apartment, .tipoPost, .likesAndResponses{
    font-size: 16px;
    color:#6E6E6E;
    font-family: "Roboto Condensed"
}

/* Conteúdo principal do post */

.imagem-post{
    display: flex;
    justify-content: center;
}

main img{
    width: 90%; 
    margin-bottom: 8px;
}

.conteudo-container {
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.conteudo-container p{
    width: 90%;
    margin-block-start: 4px;
}

/* Footer do post */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 5%;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer li {
    font-family: "Roboto Condensed";
    list-style: none;
    display: inline-block;
}

.likesAndResponses{
    padding-right: 20px;  
}
footer ul{
    padding-inline-start: 0px;
}

/* Botões no post */

.btn{
    font-family: "Roboto Condensed";
    background-color: #F70065;
    border-radius: 11px;
    font-size: 17px;
    padding: 6px 10px;
    margin-inline-start: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    text-decoration: underline;
}

/* Responsividade tela média */

@media (min-width: 650px) and (max-width: 1200px){
    .card{
        width: 70vw;
    }
    header img{
        width: 60px;
    }
    .NomeApartamento{
        bottom: 25px;
    }
    .name a{
        font-size: 19px;
    }
    .conteudo-container{
        font-size: 15px;
    }
}

/* Responsividade tela pequena */

@media (max-width: 650px){
    .card{
        width: 93vw;
    }
    header img{
        width: 50px;
    }
    .name-container{
        right: 20px;
    }
    .NomeApartamento{
        bottom: 25px;
    }
    .name{
        margin: 30px 0px 15px 0px;
    }
    .name a{
        font-size: 16px;
    }
    .apartment, .tipoPost, .likesAndResponses{
        font-size: 11px;
    }
    .tipoPost{
        right: 18px;
    }
    .conteudo-container{
        font-size: 13px;
    }
    .conteudo-container p{
        margin-block-start: 0px;
    }
    .likesAndResponses{
        padding-right: 10px;
    }
    .btn{
        font-size: 12px;
        padding: 4px 10px;
    }
}