@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


/* ************** */
/* SIDEBAR MOBILE */
/* ************** */

.sidebarMobile {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    /* camada do topo */
    top: 0;
    left: 0;
    background-color: #F70065;
    overflow-x: hidden;
    /* tira scroll H - mas permite scroll V */
    padding-top: 30px;
    transition: 0.5s;
    transform: translateX(-100%);
}

#logo-nav {
    width: 80%;
    margin: 20px;
    padding-bottom: 25px;
    border-bottom: white solid 2px;
    margin-bottom: 40px;
}

#logo-nav a img {
    width: 100%;
}

#logo-nav a:hover {
    background-color: white;

}

.sidebarMobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebarMobile a img {
    width: 1.3em;
    padding-right: 0.5em;
}

/* Botão Fechar - Pos e Estilo (top right corner) */
.sidebarMobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* *************** */
/* SIDEBAR DESKTOP */
/* *************** */

.sidebarDesktop {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    display: none;
    min-width: 250px;
    max-width: 300px;
    width: 25vw;
    height: 100vh;
    background: #fff;
    border-right: 3px solid #f70065;
}

.sidebarDesktop div {
    padding: 0;
}

.sidebarDesktop div a {
    display: none;
    padding: 10px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    align-items: center;
}

.sidebarDesktop a img {
    width: 1.3em;
    padding-right: 0.5em;
}

.sidebarDesktop a:hover {
    background-color: #FC81B966;
    color: #F70065;
    border-radius: 29px;
    opacity: 1;
}


/* ***** */
/* MODAL */
/* ***** */

#background-modal {
    background-color: black;
    filter: opacity(0.3);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;

    webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.modal {
    border: 1px solid #B8B8B9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 3px 12px #00000057;
    padding: 5px;
    margin: 0;
    z-index: 1001;

    webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Safari, Chrome and Opera > 12.1 */
@-moz-keyframes    fadein { from { opacity: 0; } to { opacity: 1; } } /* Firefox < 16 */
@-ms-keyframes     fadein { from { opacity: 0; } to { opacity: 1; } } /* Internet Explorer */
@-o-keyframes      fadein { from { opacity: 0; } to { opacity: 1; } } /* Opera < 12.1 */
@keyframes         fadein { from { opacity: 0; } to { opacity: 1; } } /* Geral */

#open-modal {
    position: absolute;
    top: 100px;
    left: 5%;

    width:90vw;
    height: auto;
    min-height: 50px;
    padding: 15px;

    display: none;
    transition: opacity 2s ease-in;
}

#open-modal h1 {
    color: #707070;
    font: Bold Condensed 26px/32px Roboto;
}

/* **************** */
/* DROPDOWN-PROFILE */
/* **************** */

#profile-dropdown {
    position: absolute;
    top: 45px;
    right: 6%;

    width:50vw;
    max-width: 180px;
    height: auto;
    min-height: 50px;

    display: none;
    transition: opacity 2s ease-in;
}

#profile-dropdown .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#profile-dropdown .profile-content header {
    width: 100%;
    height: auto;
}

#profile-dropdown .profile-content .user-group {
    align-items: center;
    display: flex;
}

#profile-dropdown .profile-content .user-group img {
    border-radius: 50%;
    width: 40px;
}

#profile-dropdown .profile-content .user-group .user-info {
    margin: 10px;
}

#profile-dropdown .profile-content .user-group .user-info p {
    color: #F70065;
    font-size: 13px;
    font-weight: bold;
}

#profile-dropdown .profile-content .user-group .user-info span {
    color: #999999;
    font-size: 9px;
    margin-top: 2px;
}

#profile-dropdown .profile-content main {
    padding: 5px 18px;
    width: 100%;
}

#profile-dropdown .profile-content main nav a {
    color: #707070;
    font: Condensed 14px/17px Roboto;
    text-decoration: none;
}

/* Footer do card */

#profile-dropdown .profile-content footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

#profile-dropdown .profile-content footer hr {
    border: 0;
    border-radius: 10px;
    background-color: #F70065;
    padding: 1.5px;
    margin: 2px auto;
    width: 80%;
}

#profile-dropdown .profile-content footer a {
    color: #707070;
    display: block;
    padding: 18px;
    font: Bold Condensed 16px/19px Roboto;
    text-decoration: none;
}

/* *********** */
/* MEDIA QUERY */
/* *********** */

@media (min-width: 992px) {

    /* esconde nav-mobile e sanduiche */
    .sidebarMobile {
        display: none;
    }

    .openbtn, .menu-btn {
        display: none;
    }

    /* mostra nav-desktop */
    .sidebarDesktop {
        display: block;
    }

    .sidebarDesktop a img {
        width: 30px;
    }

    .sidebarDesktop div {
        display: block;
    }

    .sidebarDesktop div a {
        display: flex;
    }

    body {
        overflow: hidden;
    }

    .container {
        display: flex;
    }

    .feed-container {
        height: 100vh;
        overflow-y: scroll;
        width: 100%;
    }

    /* muda cor da linha do logo na nav */
    #logo-nav {
        border-bottom: #F70065 solid 2px;
    }

      /* _______________   */
     /* { HEADER POST'S } */
    /*                   */

    /* Extende altura da header e indica consideração aos elementos flutuantes */
    header {
        height: 125px;
        overflow: hidden;
    }
    /* Amplia proporções e centraliza conteúdo */
    header .options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    /* Configura estilo dos link's das opções */
    header .options a {
        padding: 12px 15px 12px 48px;
        border-radius: 8px;
        position: relative;
        margin: 0 10px;
        width: auto;
    }
    /* Configura imagem apresentada no botão da opção */
    header .options a img {
        position: absolute;
        top: 8px;
        left: 15px;
        border-radius: 0;
        width: auto;
        height: 18px;
        margin: 3px 2px 0 0;
    }
    /* Formata textos dos links */
    header .options a {
        text-decoration: none;
        color: #FFFFFF;
    }
    /* Exibe labels dos botões do topo */
    header .options a span {
        display: block;
    }
    /* Fixa posição do botão do perfil no canto superior direito e o estiliza */
    header button.profile-icon {
        background-color: #77C9D4;
        border-radius: 50%;
        border: 0px;
        width: 90px;
        height: 90px;
        margin: 20px 40px;
        padding: 0;
        position: fixed;
        right: 0px;
        top: 0px;
        outline: none;
    }
    /* Acrescenta efeito ao hover do perfil */
    header button.profile-icon:hover {
        border-radius: 50%;
        filter: drop-shadow(0px 0px 2px #fb81b8);
    }
    /* Altera proporções da imagem do profile */
    header button.profile-icon img {
        width: 90px;
        margin: 0;
    }
    /* Formata fonte das inciais quando não houver imagem de perfil */
    header button.profile-icon span {
        color: #FFFFFF;
        font: Bold Condensed 50px/61px Roboto;
        font-size: 1.5em;
        font-weight: bold;
    }
    /* Ajusta posicionamento do dropdown */
    #profile-dropdown {
        top: 90px;
        right: 5%;
    }
}