@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import "reset.css";
@import "header.css";
@import "carousel.css";
@import "post.css";
@import "aside.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 992px) {
    body {
        overflow: hidden;
    }

    .container {
        display: flex;
    }

    .feed-container {
        height: 100vh;
        overflow-y: scroll;
        width: 100%;
    }
}