#background-modal {
  background-color: black;
  filter: opacity(0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;

  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.modal {
  border: 1px solid #B8B8B9;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 3px 12px #00000057;
  padding: 24px;
  margin: 0;
  z-index: 1001;

  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Safari, Chrome and Opera > 12.1 */
@-moz-keyframes    fadein { from { opacity: 0; } to { opacity: 1; } } /* Firefox < 16 */
@-ms-keyframes     fadein { from { opacity: 0; } to { opacity: 1; } } /* Internet Explorer */
@-o-keyframes      fadein { from { opacity: 0; } to { opacity: 1; } } /* Opera < 12.1 */
@keyframes         fadein { from { opacity: 0; } to { opacity: 1; } } /* Geral */

#open-modal {
  position: absolute;
  top: 100px;
  left: 5%;

  width:90vw;
  height: auto;
  min-height: 50px;
  padding: 15px;

  display: none;
  transition: opacity 2s ease-in;
}

#open-modal h1 {
  color: #707070;
  font: Bold Condensed 26px/32px Roboto;
}

/* **************** */
/* DROPDOWN-PROFILE */
/* **************** */

#profile-dropdown {
  position: absolute;
  top: 45px;
  right: 6%;
  display: none;
  transition: opacity 2s ease-in;
}

.profile-content .user-group {
  align-items: center;
  display: flex;
}

.profile-content .user-group img {
  border-radius: 50%;
  width: 40px;
}

.profile-content .user-group .user-info {
  margin-left: 10px;
}

.profile-content .user-group .user-info p {
  color: #F70065;
  font-size: 14px;
  font-weight: bold;
}

.profile-content .user-group .user-info span {
  color: #999999;
  font-size: 11px;
}

.profile-content .account-main {
  margin: 10px 0;
}


.profile-content .account-main a {
  align-items: center;
  color: #707070;
  display: flex;
  font: 16px "Roboto", sans-serif;
  margin: 10px 0;
  text-decoration: none;
}

.profile-content .account-main a img,
.profile-content .account-footer a img {
  margin-right: 5px;
  width: 20px;
}

/* Footer do card */

.profile-content .account-footer hr {
  border: 0;
  background-color: #F70065;
  padding: 1px 0;
  margin: 10px 0;
  width: 100%;
}

.profile-content .account-footer a {
  align-items: center;
  color: #707070;
  display: flex;
  font: bold 16px "Roboto", sans-serif;
  text-decoration: none;
}

@media (min-width: 992px) {
  /* Ajusta posicionamento do dropdown */
  #profile-dropdown {
    top: 90px;
    right: 5%;
  }
}